.starter-template
    %h1 Glückwunsch, es funktioniert!
    %p.lead
          Und so geht es jetzt weiter ...

%h3 Setup Verzeichesstruktur
%p Gehe im Terminal in das Verzeichnis von php-framework und rufe danach folgende Befehle auf:
%code > cd console
%br
%code > ./setup

%h3 Setup Gulp (Optional)

%h3 Setup Datenbank

%h3 Ein erstes Model "User" erstellen

%h3 Einen Controller für das Model "User"
