:css
    .starter-template {
      padding: 40px 15px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }


.starter-template
    .text-center
        %h1 It works!
        %p.lead
              Now we can create our first model, controller and view.
              %br/
              Let's get started ...
        %br

    %h3 Creating our first Model - "User"
    %p
        First we want to create a
        %code User
        model to store data of a user. User can store a first name and a last name.
        %br

        Go to the directory:
        %pre  php-framework/console/
        %br

        Now execute:
        %pre  ./model create User firstName:string lastName:string
        %br

        Now we have to migrate the
        %code User
        into our database:
        %pre  ./migrate -m User
        %br

    %h3 Creating a controller for "User"
    %p
        To access the
        %code User
        by browser, we need a simple default controller. We can create this controller with:
        %br

        %pre ./model create-controller User
        %br

        Now you can open the web-page
        %code localhost/public/users
        Don't forget the 's'.
